# Hypothesis Excercise 1
## Ho: there is no difference between the diameter units of cutlets
## Ha:  there is a difference between the diameter units of cutlets
## Two Sample T test

In [2]:
import pandas as pd
from scipy import stats

In [26]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [23]:
t_test,p_val= stats.ttest_ind(df['Unit A'], df['Unit B'])

In [24]:
p_val

0.4722394724599501

In [ ]:
#p_val>0.05,Accept Null Hypothesis

# Hypothesis Excercise 2
## Ho: Avearge Turn Around Time of reports of labortaries is same
## Ha: Average Turan around Time of reports of the labortaries is different

In [18]:
import pandas as pd
from scipy import stats as stats
dt=pd.read_csv("LabTAT.csv")

In [28]:
dt.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:
F_test,p_value=stats.f_oneway(dt['Laboratory 1'],dt['Laboratory 2'],dt['Laboratory 3'],dt['Laboratory 4'])

In [9]:
p_value

2.1156708949992414e-57

In [17]:
if p_value<0.05:
 print("Reject Null Hypothesis")
else:
 print("Acccept Null Hypothesis")

Reject Null Hypothesis

# Hypothesis Excercise 3
## H0: All Proportions are equal
## Ha: All Proportions are not equal

In [16]:
import pandas as pd
from scipy import stats
from scipy.stats import chi2_contingency 
import numpy as np

In [4]:
ds=pd.read_csv("BuyerRatio.csv")
ds

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [22]:
val=np.array([ds.iloc[0][1:4].values,ds.iloc[1][1:4].values])

In [23]:
val

array([[50, 142, 131],
       [435, 1523, 1356]], dtype=object)

In [27]:
statistics,p_value,degrees_of_freedom=chi2_contingency(val)[0:3]

In [29]:
statistics,p_value,degrees_of_freedom

(1.4876063588557114, 0.4753028118518984, 2)

In [30]:
p_value

0.4753028118518984

In [32]:
if(p_value<0.05):
  print("Reject Null Hypothesis")
else:
  print("Acccept Null Hypothesis")

Acccept Null Hypothesis

# Hypothesis Excercise 4

## H0: % of defective of all countries are equal

## Ha: Atleast one country is defective

In [27]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency 
data=pd.read_csv("Costomer+OrderForm.csv")

In [5]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [24]:
Phil_EF = (data["Phillippines"] == "Error Free").sum()
Indo_EF = (data["Indonesia"] == "Error Free").sum()
Mal_EF = (data["Malta"] == "Error Free").sum()
Ind_EF = (data["India"] == "Error Free").sum()

Phil_D = (data["Phillippines"] == "Defective").sum()
Indo_D = (data["Indonesia"] == "Defective").sum()
Mal_D = (data["Malta"] == "Defective").sum()
Ind_D = (data["India"] == "Defective").sum()

new_data=[[Phil_EF,Indo_EF,Mal_EF,Ind_EF],[Phil_D,Indo_D,Mal_D,Ind_D]]

In [25]:
df = pd.DataFrame(new_data, index =  ["Error Free", "Defective"], columns = ['Phillippines', 'Indonesia', 'Malta', 'India'])

In [26]:
df

            Phillippines  Indonesia  Malta  India
Error Free           271        267    269    280
Defective             29         33     31     20

In [28]:
chi_val, p_val, dof, expected = chi2_contingency(df)

In [29]:
chi_val, p_val, dof

(3.858960685820355, 0.2771020991233135, 3)

In [30]:
p_val

0.2771020991233135

In [32]:
if(p_val<0.05):
  print("Reject Null Hypothesis")
else:
  print("Acccept Null Hypothesis")

Acccept Null Hypothesis